
@model PagedList.IPagedList<Coffee.Models.CoffeeStore>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "CoffeeStores";
}

<h2>CoffeeStores</h2>

<p>
    @Html.ActionLink("Add new coffee store", "Create")
    @using (Html.BeginForm("StoreIndex", "Coffee", FormMethod.Get))
    {
    <p>
        Find by store name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
    }
</p>


        <table class= "table">
    <tr>
        
        <th>
           Eircode
        </th>
        <th>
            @Html.ActionLink("Store Name", "StoreIndex", new { sortOrder = ViewBag.NameSortParm , currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("City", "StoreIndex", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
           Location
        </th>
        <th>
            Has WIFI
        </th>
        <th>
            OpeningTime
        </th>
        <th>
            ClosingTime
        </th>
        <th></th>
    </tr>
  @foreach (var store in Model)
  {
                <tr>
                    <td>
                        @Html.DisplayFor(model => store.Eircode)
                    </td>
                    <td>
                        @Html.DisplayFor(model => store.StoreName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => store.City)

                    </td>
                    <td>
                        @Html.DisplayFor(model => store.Location)

                    </td>
                    <td>
                        @Html.DisplayFor(model => store.hasWifi)

                    </td>
                    <td>
                        @Html.DisplayFor(model => store.OpeningTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => store.ClosingTime)
                    </td>
                    <td>
                    
                        @Html.ActionLink("Reviews", "ReviewList", new { Eircode = store.Eircode })
                    @Html.ActionLink("Coffee List", "CoffeeList", new { Eircode = store.Eircode })
                        @Html.ActionLink("Edit", "Edit", new { Eircode = store.Eircode })
                        @Html.ActionLink("Details", "Details", new { Eircode = store.Eircode })
                        @Html.ActionLink("Delete", "Delete", new { Eircode = store.Eircode })
                    </td>
                </tr>
  }
    </table>
       <br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("StoreIndex",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })) 
     
        
      



